<app-card titulo="Primeiro Componente" cor #3D4D63>
<app-primeiro-componente></app-primeiro-componente>
</app-card>
<app-segundo-componente></app-segundo-componente>
<app-pipe-customizado></app-pipe-customizado>
<app-two-way-data-binding></app-two-way-data-binding>
<app-rendezindo-listas></app-rendezindo-listas>
<app-componentes-personalizados nome="Mateus" sobrenome="Borges"></app-componentes-personalizados>
<app-componentes-personalizados nome="Milena" sobrenome="Figueredo"></app-componentes-personalizados>
<app-componente-pai></app-componente-pai>
<app-exemplos-servicos1></app-exemplos-servicos1>
<app-exemplos-servicos2></app-exemplos-servicos2>
<app-clico-de-vida></app-clico-de-vida>
<app-cicli-de-vida-pai></app-cicli-de-vida-pai>